  <section class="new-training" fxLayout fxLayoutAlign="center center">
    <form (ngSubmit)="onStartTraining(form)" #form="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title fxLayoutAlign="center">
            Time to start a workout!
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
          <mat-form-field appearance="fill" *ngIf="!isLoading && exercises">
            <mat-label>Choose Exercise</mat-label>
            <!-- <mat-select [(value)]="exerciseId"> -->
            <mat-select ngModel name="exercise" required>
              <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-spinner *ngIf="isLoading" fxLayoutAlign="center"></mat-spinner>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
          <button type="submit" mat-stroked-button [disabled]="!form.valid" *ngIf="exercises">START</button>
          <button type="button" mat-stroked-button *ngIf="!exercises" (click)="fetchAvailableExercises()">FETCH AGAIN</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
